body{
    margin: 0;
    padding: 0;
    background-image: url("../photos/light.gif");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: "Poppins", sans-serif;
}

/* global style ========================================================*/

a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-size: 22px;
}
a:hover{
    scale: 1.1;
}

button{
    width: 30px;
    height: 30px;
    background-color: rgb(255, 255, 255);
    border-radius: 5px;
    border: none;
}
button:hover{
    background-color: rgb(211, 211, 211);
    scale: 1.1;
}

i{
    font-size: 20px;
}

/* navbar =================================================================*/

.navbar{
    position: sticky;
    top: 0;
    z-index: 999;

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    padding-right: 20px;

    background-color: rgba(0, 0, 0, 0.753);
    border-bottom: 1px solid white;
    box-shadow: 0px 0px 25px 0px #000000;
}


.navbar .right{
    display: flex;
    gap: 30px;
}

.navbar .right .mode{
    display: flex;
    gap: 10px;
}

.navbar .left h1{
    color: aliceblue;
}

.navbar .right .links{
    display: flex;
    gap: 15px;
}

.navbar .right #menu{
    display: none;
}

/* sidebar =====================================================================*/

.sidebar{
    display:none;
    position: absolute;
    right: 0;
    background-color: rgba(0, 0, 0, 0.753);
    border-bottom: 1px solid white;
    border-bottom-left-radius: 10px;
    border-left: 1px solid white;
    width: 200px;
    height: 250px;
}

.sidebar{
    position: fixed;
    z-index: 999;
}

.sidebar .links {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-left: 20px;
}

.sidebar .btns{
    display: flex;
    justify-content: space-around;
}

.sidebar .closeBtn{
    margin-top: 20px;
    margin-bottom: 25px;
}

.sidebar .modeBtn{
    margin-top: 20px;    
    display: flex;
    gap: 10px;
}

/* content =======================================================================*/
.content{
    display: flex;
    gap: 50px;
    flex-wrap: wrap;

    justify-content: center;
    
}


.content .card{
    margin-top: 75px;
    width: 225px;
    height: 400px;
    background-color: rgb(39, 39, 39);
    border-radius: 10px;
    border: 1px solid rgb(0, 0, 0);

    box-shadow: 0px 0px 10px 0px #000000;
}

.content .card .image img{
    margin-top: 25px;
    width: 200px;
    height: 300px;
    border-radius: 10px;
}

.content .card .image img:hover{
    opacity: 0.5;
}

.content .card .image{
    text-align: center;
}

.content .card .title h3{
    color: rgb(186, 186, 186);
}
.content .card .title{
    text-align: center;
}

/* responsive ================================= */

@media only screen and (max-width: 800px){

    .navbar .right .links{
        display: none;
    }
    .navbar .right .mode{
        display: none;
    }

    .navbar .right #menu{
        display: block;
    }
}